extends layout

block content
  h1 Welcome to #{title} #{content.username}
  div
    h2 Sockets
    table
      thead
        tr
          th Name
          th Numbering
          th Status
      tbody
        each socket in params.sockets
          tr
            td #{socket.name}
            td #{socket.numbering}
            td #{socket.status}